<!-- @defer(){
<app-slow clase="bg-green-400"></app-slow>
}@placeholder {
  <p class="h-[600px] w-full bg-gradient-to-r from-purple-50 to-purple-400 animate-pulse">
    Por favor aguante vara
  </p>
}

@defer( on idle){
  <app-slow clase="bg-green-600"></app-slow>
  }@placeholder {
    <p class="h-[600px] w-full bg-gradient-to-r from-orange-50 to-orange-400 animate-pulse">
        Cargando informacion
    </p>
  }

  @defer( on viewport){
    <app-slow clase="bg-green-400"></app-slow>
    }@placeholder {
      <p class="h-[600px] w-full bg-gradient-to-r from-green-50 to-green-400 animate-pulse">
          Cargando informacion 2
      </p>
    }
 -->
